@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.main {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 15px;
  padding: 20px 120px 0 120px;
  text-align: center;
}

.conteiner {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
}

.keyboard {
  padding: 10px 0;
}

.keyboard__keys {
  display: -ms-grid;
  display: grid;
  gap: 3px;
  -ms-grid-rows: (100px)[5];
  -ms-grid-columns: (minmax(80px, auto))[15];
      grid-template: repeat(5, 100px)/repeat(15, minmax(80px, auto));
}

.keyboard__key {
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.17);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  color: white;
  border-radius: 5px;
  padding: 10px 0 0 15px;
  font-size: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input__text {
  margin: 40px 0;
  width: 100%;
  height: 60px;
  font-size: 40px;
  padding: 0 10px;
  border: 1px solid #000;
}

.keyboard__keys._caps {
  text-transform: capitalize;
}

.keyboard__keys._caps #CAPS {
  background: rgba(173, 0, 0, 0.918);
}

.keyboard__keys._caps #CAPS:hover {
  background: rgba(100, 0, 0, 0.9);
}

.keyboard__keys._shift {
  text-transform: capitalize;
}

.keyboard__keys._shift #SHIFT-L {
  background: rgba(70, 155, 0, 0.918);
}

.keyboard__keys._shift #SHIFT-L:hover {
  background: rgba(3, 100, 0, 0.9);
}

.keyboard__keys._shift #SHIFT-R {
  background: rgba(70, 155, 0, 0.918);
}

.keyboard__keys._shift #SHIFT-R:hover {
  background: rgba(3, 100, 0, 0.9);
}

#BS {
  -ms-grid-column: 14;
  -ms-grid-column-span: 2;
  grid-column: 14/16;
  font-size: 30px;
}

#TAB {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

#CAPS {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

#ENTER {
  -ms-grid-column: 14;
  -ms-grid-column-span: 2;
  grid-column: 14/16;
}

#SHIFT-L {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

#SHIFT-R {
  -ms-grid-column: 13;
  -ms-grid-column-span: 3;
  grid-column: 13/16;
}

#SPACE {
  -ms-grid-column: 4;
  -ms-grid-column-span: 8;
  grid-column: 4/12;
  text-align: center;
  padding: 30px 0 0 0;
}

/*--
#yo, #one, #two, #three, #four, #five, #six, #seven, #eigth, #nine, #zero, #def, #plus {
    color: aquamarine;
}
-*/
#TAB, #CTRL-L, #ENTER, #WIN, #ALT-L, #ALT-R, #FN, #CMD, #CTRL-R {
  opacity: 0.7;
}

.keyboard__keys *:not(#TAB, #CTRL-L, #ENTER, #WIN, #ALT-L, #ALT-R, #FN, #CMD, #CTRL-R):hover {
  background: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

.keyboard__keys *:not(#TAB, #CTRL-L, #ENTER, #WIN, #ALT-L, #ALT-R, #FN, #CMD, #CTRL-R):active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
