// Обнуление стилей
@import "nullstyle.scss";
// Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//SCSS
.main {
    font-family: 'Roboto', sans-serif;
}
.title{
    font-size: 15px;
    padding: 20px 120px 0 120px;
    text-align: center;
}
.conteiner {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
}
.keyboard {
    padding: 10px 0;
	&__keys {
        display: grid;
        gap: 3px;
        grid-template: repeat(5, 100px) / repeat(15, minmax(80px, auto));
	}
	&__key {
        background: rgba( 0, 0, 0, 0.8 );
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.17);
        backdrop-filter: blur( 8px );
        -webkit-backdrop-filter: blur( 8px );
        border-radius: 10px;

        color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        padding: 10px 0 0 15px;
        font-size: 35px;

        user-select: none; 
	}
}
.input__text{
    margin: 40px 0;
    width: 100%;
    height: 60px;
    font-size: 40px;
    padding: 0 10px;
    border: 1px solid #000;
}

.keyboard__keys._caps{
    text-transform: capitalize;
    #CAPS{
        background: rgba(173, 0, 0, 0.918);
        &:hover{
            background: rgba(100, 0, 0, 0.9);
        }
    }
}
.keyboard__keys._shift{
    text-transform: capitalize;
    #SHIFT-L{
        background: rgba(70, 155, 0, 0.918);
        &:hover{
            background: rgba(3, 100, 0, 0.9);
        }
    }
    #SHIFT-R{
        background: rgba(70, 155, 0, 0.918);
        &:hover{
            background: rgba(3, 100, 0, 0.9);
        }
    }
}
.onshift{
    display: block;
    position: absolute;
    opacity: 0.1;
    top: 20px;
    right: 25px;
}
#BS{
    grid-column: 14/16;
    font-size: 30px;
}
#TAB{
    grid-column: 1/3;
}
#CAPS{
    grid-column: 1/3;
}

#ENTER{
    grid-column: 14/16;
}
#SHIFT-L{
    grid-column: 1/3;
}
#SHIFT-R{
    grid-column: 13/16;
}
#SPACE{
    grid-column: 4/12;
    text-align: center;
    padding: 30px 0 0 0;
}

/*--
#yo, #one, #two, #three, #four, #five, #six, #seven, #eigth, #nine, #zero, #def, #plus {
    color: aquamarine;
}
-*/

#TAB, #CTRL-L, #ENTER, #WIN, #ALT-L, #ALT-R, #FN, #CMD, #CTRL-R {
    opacity: 0.7;
}

.keyboard__keys *:not(#TAB, #CTRL-L, #ENTER, #WIN, #ALT-L, #ALT-R, #FN, #CMD, #CTRL-R):hover{
    background: rgba( 0, 0, 0, 0.65);
    cursor: pointer;
}
.keyboard__keys *:not(#TAB, #CTRL-L, #ENTER, #WIN, #ALT-L, #ALT-R, #FN, #CMD, #CTRL-R):active {
    transform: scale(0.95);
}
